@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Site.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>

        #menu ul li a {
            text-decoration: none;
            color: #063c3c;
        }

            #menu ul li a:hover {
                color: white;
            }

        #menu_right ul li a {
            text-decoration: none;
            color: #063c3c;
        }
            #menu_right ul li a:hover {
                color: white;
            }
      
    </style>
    </head>
<body>
    <div style="width:100%;height:500px">
        <div style="position:relative;background-color:lightblue;width:35%;height:500px;margin-top:-20px">
            <p style="position:absolute  ;left:60px;top:60px">
                This is Events that we host:<br /><br />
                
                1. Wedding<br />
                2. Engagement<br />
                3. Nikah<br />
                4. Social Parties<br />
                5. Corporate Parties<br />
                6. Birthday Parties<br />

            </p>
            <p style="position:absolute  ;left:60px;top:260px">
                This is Services:<br /><br />

                1. Audio System<br />
                2. Dj System<br />
                3. Lightening System<br />
                4. Video Recording<br />
            </p>
        </div>

        <div style="position:absolute;top:196px;left:457px;width:70%">
            <img src="/Images/WhatsApp%20Image%202022-10-05%20at%2010.41.33%20AM%20(1).jpeg" height=" 500" width="100%">
            <h1 style=" position:absolute ;top:150px;color :#ffffff;margin-left:370px;font-size:40px">Hitech Regency</h1>
        </div>

    </div>
    </body>
</html>